<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
        <% if (process.env.NODE_ENV === 'prod') { %>
            <link rel="manifest" href="./manifest.json">
            <meta name="theme-color" content="#ffffff">
            <!-- reuse same icon for Safari -->
            <link rel="apple-touch-icon" href="./img/logo-192x192.png">
        <% } %>
        
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
