.Header {
    &_title {
        @media screen and (max-width: 479px) {
            display: none;
        }
    }

    &_search {
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-right: 16px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.15);
        cursor: text;
        align-self: center;
        transition: all 0.3s ease;

        &___focused {
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    &_searchIcon {
        width: 56px;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_input {
        position: relative;
        display: inline-flex;
        align-items: center;

        input {
            width: 100%;
            padding: 8px 8px 8px 56px;
            transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            color: #fff;
        }
    }

    &_menu {
        display: flex;
        justify-content: flex-end;
    }
}
